<head>
  <title>Ork Hit Scoreboard</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<body>
  <h1>Ork Hit Scoreboard</h1>
  <div class="outer">
    {{> leaderboard}}
  </div>
</body>

<template name="leaderboard">
  <div class="leaderboard">
    {{#each players}}
      {{> player}}
    {{/each}}
  </div>

  {{#if selected_player.name}}
  <div class="details">
    <div class="name">{{selected_player.name}}</div>
    <button class="inc">Give one point</button>
  </div>
  {{else}}
  <div class="none">Click a player to select</div>
  {{/if}}
</template>

<template name="player">
  <div class="player {{selected}}">
    <span class="name">{{name}}</span>
    <span class="score">{{score}}</span>
  </div>
</template>

